name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore 
    - name: Fetch UCR v0.9.0 release
      uses: dsaltares/fetch-gh-release-asset@0.0.5
      with:
        repo: Snoothy/UCR
        version: tags/v0.9.0
        file: UCR_v0.9.0.zip
    - name: Extract UCR.Core
      run: 7z e UCR_v0.9.0.zip -o. UCR.Core.dll
    - name: Find UCR.Core.dll
      run: find . -iname UCR.Core.dll
    - name: Build
      run: dotnet build --no-restore
