name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  getucr:
    runs-on: ubuntu-latest
    steps:
    - name: Cache UCR.Core.dll
      id: cache-ucr-core-dll
      uses: actions/cache@v2
      with:
        path: UCR.Core.dll
        key: ucr-core-dll
    - name: Fetch UCR v0.9.0 release
      uses: dsaltares/fetch-gh-release-asset@0.0.5
      with:
        repo: Snoothy/UCR
        version: tags/v0.9.0
        file: UCR_v0.9.0.zip
    - name: Extract UCR.Core
      run: 7z e UCR_v0.9.0.zip -o. */UCR.Core.dll
  
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Cache UCR.Core.dll
      id: cache-ucr-core-dll
      uses: actions/cache@v2
      with:
        path: UCR.Core.dll
        key: ucr-core-dll
    - name: Restore dependencies
      run: dotnet restore 
    - name: Build
      run: dotnet build --no-restore
